@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/source-code-pro/SourceCodePro-Light.ttf") format("ttf"),
}
@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/source-code-pro/SourceCodePro-LightItalic.ttf") format("ttf"),
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/source-code-pro/SourceCodePro-Medium.ttf") format("ttf"),
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/source-code-pro/SourceCodePro-MediumItalic.ttf") format("ttf"),
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/source-code-pro/SourceCodePro-Bold.ttf") format("ttf"),
}
@font-face {
  font-family: 'Source Code Pro';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/source-code-pro/SourceCodePro-BoldItalic.ttf") format("ttf"),
}
