@font-face {
  font-family: 'Courier Prime';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/courier-prime/CourierPrime-Regular.ttf") format("truetype"),
}
@font-face {
  font-family: 'Courier Prime';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/courier-prime/CourierPrime-Italic.ttf") format("truetype"),
}

@font-face {
  font-family: 'Courier Prime';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/courier-prime/CourierPrime-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: 'Courier Prime';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/courier-prime/CourierPrime-RegularItalic.ttf") format("truetype"),
}

@font-face {
  font-family: 'Courier Prime';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/courier-prime/CourierPrime-Bold.ttf") format("truetype"),
}
@font-face {
  font-family: 'Courier Prime';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/courier-prime/CourierPrime-BoldItalic.ttf") format("truetype"),
}
