@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
}
@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
}

@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
}

@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
}
@font-face {
  font-family: 'Space Mono', monospace;
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
}
