@charset "UTF-8";

/* alternative color */
$alt-color: #ffcc66;

/* light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #1b1c1d;
$dark-background-secondary: #414346;
$dark-color: #f3f4f4;
$dark-color-secondary: #7a7e83;
$dark-border-color: #37393b;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
