@charset "UTF-8";

/* alternative color */
$alt-color: #000000;

/* light theme color */
$light-background: #007b4f;
$light-background-secondary: #008e5b;
$light-color: #ffa500;
$light-color-secondary: #008e5b;
$light-border-color: #ffa500;

/* dark theme colors */
// TODO: fix button text
$dark-background: #000000;
$dark-background-secondary: #000000;
$dark-color: #ffa500;
$dark-color-secondary: #ffa500;
$dark-border-color: #ffa500;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
