{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>"{{ .Site.Title | upper }}"</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

          <div class="recent-posts section">
            <div class="posts">
              <h2>"TIMELINE"</h2>
              {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.listedContentTypes }}
              {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) 50 }}
              {{ range $paginator.Pages }}
                <div class="post">
                  <div class="post-header">
                    <div class="meta">
                      <div class="date">
                        <span class="day">{{ dateFormat "2006.01.02" .Date }}</span>
                      </div>
                    </div>
                    <div class="matter">
                      <h3 class="title small">
                        <a href="{{ .RelPermalink }}">"{{.Title | upper}}"</a>
                      </h3>
                      {{- if eq .Page.Type "photos" }}
                        {{ $image := .Param "image" }}
                        {{- if $image }}
                            <img src="{{ $image }}?height=0.3&quality=40" class="photo"/>
                        {{ end }}
                      {{ else }}
                        {{ $image := .Param "image" }}
                        {{- if $image }}
                            <img src="{{ $image }}" class="book-cover"/>
                        {{ end }}
                      {{ end }}
                      <span class="description">
                        {{ if isset .Params "description" }}
                          {{ .Description }}
                        {{ end }}
                      </span>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>

          <div class="recent-posts section">
            <div class="posts">
                {{ if .Site.Author.twitter }}
                <h2>"TWEETS"</h2>
                {{ end }}
                  <a class="twitter-timeline"
                    data-width="100%"
                    data-dnt="true"
                    data-theme="light"
                    data-chrome="noborders noscrollbar noheader"
                    data-related="twitterapi,twitter"
                    data-aria-polite="assertive"
                    data-dnt="true"
                    href="https://twitter.com/{{ .Site.Author.twitter }}?ref_src=twsrc%5Etfw">
                  </a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>

        </div>
    </main>
{{ end }}
